<!DOCTYPE html>
<html>
  <head>
  <style>
  .footer-bottom{
    background: #b7ddb7;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
  </style>
    <title>BulletInBoard3</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    
    <!-- show flash message if any: -->
    <div class="alert">
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>
    <% if alert %>
      <%= alert %>
    <% end %>
    <!-- end -->
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
